.card {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  box-sizing: border-box;
  padding: 1vw;
  border: 0 solid;
  border-radius: 0.5vw;
  width: 30.5vw;
  height: 40vw;
  background-color: #ffffff;

  &__image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0 solid;
    border-radius: 0.5vw;
  }

  &__info {
    box-sizing: border-box;
    width: 100%;
    padding: 1vw;
    border: 0 solid;
    border-radius: 0.5vw;
    height: 38%;
    background-color: #dcdcdc;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    text-align: center;
    font-size: 1.45vw;
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    color: inherit;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 2.15vw;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 1.15vw;
    color: #757575;
    font-style: italic;

    @media (max-width: 768px) {
      font-size: 1.7vw;
    }
  }

  &__sizes {
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;

    >div {
      font-size: 1.25vw;

      @media (max-width: 768px) {
        font-size: 1.8vw;
      }
    }
  }

  &__type {
    height: 30%;
    display: flex;
    align-items: flex-end;
    font-size: 1.15vw;

    @media (max-width: 768px) {
      font-size: 1.7vw;
    }
  }

  @media (max-width: 768px) {
    width: 44vw;
    height: 60vw;
  }
}
