.indicator {
  display: block;
  width: 0.5vw;
  height: 0.5vw;
  background-color: #818181;
  border-radius: 100%;
  margin: 0.1vw;
  opacity: 0.8;

  @media (max-width: 768px) {
    width: 1vw;
    height: 1vw;
    margin: 0.3vw;
  }

  &__selected {
    background-color: #F5F5F5;
  }
}
